// _variables.scss
$primary-color: #34bb6c;
$secondary-color: #ffed4a;
$success-color: #0a943f;
$danger-color: #e3342f;
$warning-color: #f6993f;
$info-color: #6cb2eb;

// Font size, spacings, etc.
$font-size-base: 16px;
$font-family: 'Nunito', sans-serif;
